
body {
    background: url("../img/dor4.jpg");
    animation-name: bg;
    animation-duration: 20s;
    /*变换时间*/
    animation-delay: 2s;
    /*动画开始时间*/
    animation-iteration-count: infinite;
    /*下一周期循环播放*/
    animation-play-state: running;
    /*动画开始运行*/
}

@keyframes bg {
    0% {
        background: url("../img/dor1.jpg");
    }

    34% {
        background: url("../img/dor4.jpg");
    }

    67% {
        background: url("../img/dor5.jpg");
    }

    100% {
        background: url("../img/dor1.jpg");
    }
}

.form {
    background: #00000060;
    width: 40%;
    height: 400px;
    margin: 120px auto;

}

/*阴影*/

.fa {
    display: inline-block;
    top: 27px;
    left: 6px;
    position: relative;
    color: #ccc;
}

input[type="text"],
input[type="password"] {
    padding-left: 26px;
}

.checkbox {
    padding-left: 21px;
}

.btn {
    background-color: rgba(255, 255, 255, 0.582);
    border: 1px solid rgb(229, 153, 30);
    padding: 5px;
    color: #666;
    cursor: pointer;
    border-radius: 50px;
    font-size: 25px;
    color: rgb(30, 122, 209);
    font-weight: 8;
    margin-top: 2px;


}
.btn:hover{
    box-shadow: 2px 2px 15px 2px rgb(190, 225, 255);
    background-color: transparent;
    color: white;
    /* 选择动画 */
    animation: login_mation 0.5s;
}

/* 定义动画 */
@keyframes login_mation
{
    from {
        background-color: rgba(255, 255, 255, 0.582);
        box-shadow: 0px 0px 15px 2px rgb(190, 225, 255);
    }
    to {
        background-color: transparent;
        color: white;
        box-shadow: 2px 2px 15px 2px rgb(190, 225, 255);
    }
}
